html, body {
    background-color: #1f1f1e;
    font-family: Verdana;
    height: 100%;
}

h1 {
    text-align: center;
    font-size: 95px;
    text-decoration: underline;
    color: #ececec;
}

h2 {
    text-align: center;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
.dontcare:hover{
  background-color: white;
}
h6 {
    text-align: right;
    font-size: 14px;
    color: #e6e6e6;
}

#top {
    background-image: url("img/ban.jpg");
    background-position: center;    
    width: 100%;    
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr auto repeat(3, 75px) 1fr;
    grid-template-rows: 1fr repeat(3, 14%) 1fr;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        ". banner . . ." 
        ". banner email email email"
        ". banner password password password"
        ". banner buttons buttons buttons"
        ". banner . . .";
}

#banner {
    grid-area: banner;
}

#email, #password, #buttons {
    justify-self: stretch;
}

#email {
    grid-area: email;
}

#password {
    grid-area: password;
}

#buttons {
    grid-area: buttons;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
  border: 3px solid rgb(77, 96, 117);
  border-radius: 10px;
  background-color: rgb(47,55,26);
  color: #c4c4c4;
  font-size: 28px;
  padding: 25px;
}

.topnav a.button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}

.topnav {
    width: 100%;
}

.column{
    padding: 15px;
    display: table-cell;
}

#about-text {
    color: #F0F8FF;
}

#signupInputs {
    margin: auto;
    width: 40%;
}

.row {
    display: table;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
.rowMain {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-top: 20px;
}

.mainCol1 {
    width: 15%;
    
    display: table-cell;
}

.mainCol2 {
    width: 85%;
    
    display: table-cell;
    background-color: rgb(165, 165, 165);
}

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    background-color: #636363;
    padding: 10px;
    position: fixed;
    bottom: 0%;
}

h6:hover{
    color: red;
    font-size: 15px;
}

a {
    text-decoration: none;
   
    border-radius: 40px;
}

a:hover {
  background-color: white;
  color: black;
  font-weight: bolder;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* Style The Dropdown Button */
.selecttripdropbtn {
  background-color: rgb(47,55,26);
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.selecttripdropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.selecttripdropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.selecttripdropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.selecttripdropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.selecttripdropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.selecttripdropdown:hover .dropbtn {
  background-color: #3e8e41;
}
table, tr {
  background-color: rgb(77, 96, 117);
  border-radius: 5px;
  border: solid 3px rgb(173, 173, 173);
  
}

th {
  text-align: center;
  border-bottom: solid 3px rgb(173, 173, 173);
  margin: 0%;
  padding-right: 50px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
td {
  text-align: center;
}
.ballsDeep{
  width: 50%;
}
.elbowDeep{
  width: 100%;
}

.pushRight {
  float: right;
}

button {
  border: 2px solid rgb(173, 173, 173);
  background-color: #1f1f1e;
  color: rgb(157, 177, 185);
  font-size: 22px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(157, 177, 185);
  color: #1f1f1e;
}

input {
  font-size: 20px;
  padding: 7px;
  border: 3px solid rgb(173, 173, 173);
  border-radius: 5px;
  background-color: #1f1f1e;
  color: rgb(157, 177, 185);
}