html, body {
  background-color: #1f1f1e;
  font-family: Verdana;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 95px;
  text-decoration: underline;
  color: #ececec;
}

h2 {
  text-align: center;
  font-size: 45px;
  color: rgb(0, 0, 0);
}

h6 {
  text-align: right;
  font-size: 14px;
  color: #e6e6e6;
}

.button {
  border: black;
  border-radius: 10px;
  border-style: solid;
  background-color: #1f1f1f;
  color: #d8d8d8;
  font-size: 28px;
  padding: 25px;
}

.topnav a.button:hover {
  background-color: white;
  color: black;
}

.topnav {
  width: 100%;
}

.column{
  padding: 15px;
  display: table-cell;
  
}

.right {
  background-color: #636363;
  text-align: right;
  font-size: 18px;    
  width: 20%;
}

#about-text {
    color: #F0F8FF;
}

.left {
  width: 80%;
  background-image: url("img/ban.jpg");
  background-position: center;
  height: 100%;
  
}

#signupInputs {
    margin: auto;
    width: 40%;
}

th {
    text-align: right;
}

td {
    text-align: left;
    padding-left: 10px;
}

.row {
  display: table;
  width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.rowMain {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding-top: 20px;
}

.mainCol1 {
    width: 15%;
  
    display: table-cell;
}

.mainCol2 {
    width: 85%;
    
    display: table-cell;
    background-color: rgb(165, 165, 165);
}

footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    background-color: #636363;
    padding: 10px;
    position: fixed;
    bottom: 0%;
}

h6:hover{
  color: red;
  font-size: 15px;
}

  a {
      text-decoration: none;
  }
